/* Video de fondo */
.background-video {
    position: fixed;         /* Fijo en la pantalla */
    width: 100%;
    height: 100vh;
    left:0;
    top:0;
    object-fit: cover;       /* Asegura que el video cubra todo el fondo */
    z-index: -1;             /* Envía el video al fondo */
}
  /* Asegurarse de que el contenido se vea por encima del video */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    font-family: Arial, sans-serif;
    color: #fff;  /* Color de texto para mayor contraste */
}

  /* Ejemplo de estilos para el header y el menú */
header {
    background-color: transparent;  /* Fondo transparente para ver el video */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    text-align: center;
    padding: 10px 0;
    transform: translateX(-100%); /* Mueve el header fuera de la pantalla */
    transition: transform 0.5s ease-out;
}


.slide-down {
    transform: translateY(0); /* Lo devuelve a su posición normal */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    display: block;
    padding: 10px 14px;
    color: #fff;
    text-decoration: none;
    background-color: rgba(85, 76, 76, 0.5); /* Fondo semi-transparente para mejorar la legibilidad */
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.inicio {
    width: auto;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    position: relative;
    text-align: center;
}

    .content{
        position: relative;
        margin-left:150px;
        margin-bottom: 100px;
        }

            #name {
                font-size:130px;
                font-family:Didot;
                color:black;
                -webkit-text-stroke: 1px white;
                }
            
                @keyframes waveText {
                    0%, 100% {
                        transform: translateY(0);
                    }
                    25%{
                        transform: translateY(-8px);
                    }
                    75%{
                        transform: translateY(8px);
                    }
                }

            #full {
                position: relative;
                font-size:60px;
                font-family:Copperplate;
                font-weight: bold;
                color:rgb(124, 121, 121);
                bottom: -75px;
                left:  250px;
                display: inline-block;
                animation: waveText 3s infinite ease-in-out;
                
                
            }

            #links-container{
                position: relative;
                width: 30px;
                height:30px;
                left:400px;
                white-space: nowrap;  
                }

                @keyframes waveIcons {
                    0%, 100% {
                        transform: translateY(0);
                    }50% {
                        transform: translateY(-8px);
                    }
                    
                }

                #links-container img{
                    padding: 0 15px;
                    display: inline-block;
                    animation: waveIcons 2s infinite ease-in-out;
                    }
                    #links-container img:nth-child(2){
                        animation-delay:0.2s;
                    }
                    #links-container img:nth-child(3){
                        animation-delay:0.4s;
                    }

.slide-in{
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;

}

.slide-in.visible {
    opacity: 1;
    transform: translateY(0);

}
.sobre-mi {
    background-color: black;
    display:grid;
    height: 100vh;
    justify-content: center;
    align-items:center;
    padding: 0 20px;
    text-align: center;
}
.proyecto{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
}
    #titulo {
        font-size: 30px;
        grid-column: span 2;
        font-family:'Times New Roman', Times, serif;
        -webkit-text-stroke: 1px white;
        color:rgb(121, 126, 126);
        justify-content: center;
        margin-bottom: 10px;


        }
    
        .cuadro-container{
            display:flex;
            justify-content: space-between;
            width: 100%;
            max-width: 1000px;
            margin-top: 20px;
    
        }
        .cuadro.visible {
            opacity: 1;
            transform: scale(1);
        }
        
        .cuadro  {
            background-color:transparent;
            padding:10px;
            border-radius: 10px;
            text-align:center;
            border: 0.2px solid gray;
            width: 30%;
            box-shadow: 5px 5px 15px (rgb(140, 140, 143));
                opacity: 0;
                transform: scale(1.8);
                transition: opacity 1s ease-out, transform 1s ease-out;
            
        }
        .cuadro img {
            width:60px;
            margin-bottom: 10px;
        }

.boxpro {
background-color:transparent;
width: 100%;
min-height:70px;
display: flex;
flex-direction: column;
align-items:center;
justify-content: center;
padding:20px;


}

#titulo-pro {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    -webkit-text-stroke: 0.5px rgb(26, 25, 27);
    top: 30px;
}

#pc-icon {
    mix-blend-mode: multiply;
    width:700px;
    height:400px;

}

#icon-container {
    display:flex;
    justify-content: center;
    align-items:center;
    gap: 10px;
    margin-top: 10px;

}

#icon-container img {
    width: 30px;
    height: auto;
}
#git-icon {
    display:flex;
    justify-content: center;
    align-items:center;
    gap: 10px;
    width: 70px;
    height: 70px;
    margin-top: 10px;
}

#icon {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    white-space: nowrap;
    justify-content: center;
    align-items: center;

}

#icon i{
    font-size: 24px;
    transition: color 0.3s ease;

}
#contacto{
    width: auto;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    position: relative;
    text-align: center;
    background-color: black;
    padding: 50px 20px;
}

#contacto h2 {
    font-size: 2rem;
    justify-content: center;
    margin-left:500px;
    margin-bottom: 200px;
    position: relative;
    text-align: center;
}

#contacto p {
    font-size: 1.2rem;
    color: #e4dcdc;
    justify-content: center;
    margin-bottom: 50px;
    position: relative;
    text-align: center;
}

.contact-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact-icons a img {
    width: 40px; /* Tamaño de los iconos */
    transition: transform 0.3s ease;
}

.contact-icons a img:hover {
    transform: scale(1.2); /* Efecto de agrandar al pasar el mouse */
}
